/* This is the header css styles */
header {
    width: 100%;
    background-color: #FF0000;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
