/* styles/2-header.css */
header {
   /* background-color: #FF0000;*/
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
    width: 100px;
    height: 70px; 
    background-image: url('images/Hbnb_logo.png'); /* Path to the image */
    background-size: contain;
    background-repeat: no-repeat;
}

