/* styles/5-filters.css */
.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 15px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.9;
}

.locations,
.amenities,
.search {
    height: 100%;
    width: calc(25% - 10px); 
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 10px; 
}

.locations {
    border-right: 1px solid #DDDDDD; 
}

.search,
.amenities {
    border: none; 
}

.amenities {
    margin-right: -1px 
}

h3 {
    font-weight: 600;
    margin-bottom: 1px; 
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-top: 2px; 
}

