/* styles/7-places.css */

.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.places h1 {
    font-size: 30px;
    padding-left: 3%;
    margin: 0;
    margin-bottom: 20px; /* Add margin below Places header */
    width: 100%;
}

.article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
}

.article h2 {
    font-size: 30px;
    margin: 0 auto;
}

/* Additional style for specific places */
.suit, .luxury-home, .palatial-crest {
    background-color: #E6E6E6;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    color: #333333;
    margin: 0;
    padding: 20px;
}

.luxury-home, .suit {
    margin-bottom: 20px;
    border: 1px solid #FF5A5F;
}

